<!doctype html>
<html>
    <head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% if title %}
	    <title>{{ title }} - Aeryck</title>
	{% else %}
	    <title>Aeryck</title>
	{% endif %}
    </head>
    <body>
	<div class="header">
	    <ul>
		<li><img src="{{ url_for('static', filename='Aeryck_Logo.jpg') }}" class="logo" alt="Aeryck" onclick="window.location.href='{{ url_for('index') }}';"></li>
		<li><a href='{{ url_for('blog') }}'>Blog</a></li>
		<li><a href='{{ url_for('show_resume') }}'>Resume</a></li>
		<li><a href='https://github.com/erkearney' target='_blank'>Portfolio</a></li>
	    </ul>
	</div>
    </body>
    {% block content %}{% endblock %}
</html>
