<!doctype html>
<html>
    <head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	{% if title %}
	    <title>{{ title }} - Aeryck</title>
	{% else %}
	    <title>Aeryck</title>
	{% endif %}
	<div class="header">
	    <ul>
		<li><img src="{{ url_for('static', filename='Aeryck_Logo_1.png') }}" class="logo" alt="Aeryck" onclick="window.location.href='{{ url_for('index') }}';"></li>
		<li><a href='{{ url_for('blog') }}'>All Posts</a></li>
		<li><a href='https://github.com/erkearney' target='_blank'>My
		GitHub</a></li>
		<li><a href='{{ url_for('pf_tool') }}'>(In Develoment) FIRE tool</a></li>
	    </ul>
	</div>
    </head>
    <body>
	{% block content %}{% endblock %}
    </body>
</html>
