{% extends "base.html" %}
{% block content %}
    <div>
	<h1 class="title">{{ title }}</h1>
	{{ body|safe }}
	<br><p class="posted">Posted: {{ date.strftime('%Y-%m-%d') }} </p>
    </div>
    <div class ="nextprev">
	{% if older_title %}
	<a href="{{ url_for('show_post', post_title=older_title) }}">Older</a>
	{% endif %}
	{% if newer_title %}
	<a href="{{ url_for('show_post', post_title=newer_title) }}">Newer</a>
	{% endif %}
	{% if newest_title %}
	<a href="{{ url_for('show_post', post_title=newest_title) }}">Newest</a>
	{% endif %}
    </div>
{% endblock %}
