{% extends "base.html" %}
{% block content %}
    <div>
	<h1 class="title">{{ title }}</h1>
	{{ body|safe }}
	<br><p class="posted">Posted: {{ date.strftime('%Y, %B-%d') }} </p>
    </div>
    <div class ="nextprev">
	{% if older %}
	<a href="{{ url_for('show_post_by_id', post_id=g.id - 1) }}">Older</a>
	{% endif %}
	{% if newer %}
	<a href="{{ url_for('show_post_by_id', post_id=g.id + 1) }}">Newer</a>
	{% endif %}
	{% if newest %}
	<a href="{{ url_for('show_newest_post') }}">Newest</a>
	{% endif %}
    </div>
{% endblock %}
