{% extends "base.html" %}
{% block content %}
    <div class="pf">
	<h1> Welcome </h1>

	<p> This is not financial advice </p>

	<p> But these guidelines might help you </p>

	<form method="POST">
	    <label for="income">Start by entering info for your budget and essentials: </label><br>
		<table>
		    <tr>
			<th>Field</th>
			<th>Value</th>
		    </tr>
		    <tr>
			<td>Income:</td>
			<td><input type="text" id="income" name="income" value="{{ income }}"></td>
		    </tr>
		    <tr>
			<td>Rent/mortgage:</td>
			<td><input type="text" id="rent" name="rent" value="{{ rent }}"></td>
		    </tr>
		    <tr>
			<td>Food:</td>
			<td><input type="text" id="food" name="food" value="{{ food }}"></td>
		    </tr>
		    <tr>
			<td>Utilities:</td>
			<td><input type="text" id="utilities" name="utilities" value="{{ utilities }}"></td>
		    </tr>
		    <tr>
			<td>Income earning expenses:</td>
			<td><input type="text" id="income_earning_expenses" name="income_earning_expenses" value="{{ income_earning_expenses}}"></td>
		    </tr>
		    <tr>
			<td>Healthcare:</td>
			<td><input type="text" id="healthcare" name="healthcare" value="{{ healthcare }}"></td>
		    </tr>
		    <tr>
			<td>Minumum debt payments:</td>
			<td><input type="text" id="minimum_debt_payments" name="minimum_debt_payments" value="{{ minimum_debt_payments }}"></td>
		    </tr>
		</table>
	    <input type="submit" value="submit">
	</form>

    {% if img_url %}
    <img src="{{ img_url }}" alt="Pie chart">
    {% endif %}

    <p>{{ message }}</p>

{% endblock %}
